@use "../variables.scss" as *;
.home {
  &_container {
    background-image: url("../../assets/images/Home Page.jpeg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  @media (min-width: $screen-xl) {
    &_container {
      background-image: url("../../assets/images/Home Page.jpeg");
    }
  }
}

.navbar {
  grid-column: 1 / 5;
  z-index: 10;
}
