@use "../variables.scss" as *;
.home {
  &_container {
    background-color: #050605;
    background-image: url("../../assets/images/Home (2).png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: start;
    row-gap: clamp(3rem, 6vw, 7rem);
    padding-bottom: clamp(3rem, 6vw, 7rem);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 2), transparent);
      pointer-events: none;
      z-index: 0;

      @media (max-width: $screen-small) {
        height: 22%;
      }
    }
  }

  @media (max-width: $screen-small) {
    &_container {
      background-image: url("../../assets/images/Home (2).png");
      row-gap: 3.5rem;
      padding-bottom: 4rem;
    }
  }
}

.navbar {
  grid-column: 1 / 5;
  z-index: 10;
}
