@use "../variables.scss" as *;
.tours {
  &_container {
    background-image: url("../../assets/images/TourExpeditions-background.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 100vh;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 2), transparent);
      pointer-events: none;
      z-index: 0;

      @media (max-width: $screen-small) {
        height: 22%;
      }
    }

    @media (min-width: 1920px) {
      background-image: url("../../assets/images/TourExpeditions-Background-LargeScreen-1920.png");
    }

    @media (max-width: $screen-medium) {
      background-image: url("../../assets/images/TourExpeditions-Background-Medium.png");
    }
    @media (max-width: $screen-tablet) {
      background-image: url("../../assets/images/TourExpeditions-Background-Tablet.png");
    }
    @media (max-width: $screen-small) {
      background-image: url("../../assets/images/TourExpeditions-Background-Mobile.png");
    }
  }
}
