@use "../../variables.scss" as *;

.hero {
  &_container {
    grid-column: 2 / 6;
    grid-row: 2 / 6;

    z-index: 1;

    @media (min-width: $screen-xl) {
      align-self: center;
    }
    @media (max-width: $screen-medium) {
      grid-column: 2 / 6;
    }

    @media (max-width: $screen-small) {
      grid-column: 2;
      grid-row: 2 / 5;
      align-self: center;
    }
  }

  &_title {
    font-size: 6rem;
    color: var(--Secondary-colour);
    line-height: 1;
    font-weight: 700;
    font-family: chivo, sans-serif;
    margin-top: 20%;

    @media (max-width: $screen-medium-large) {
      font-size: 4.5rem;
      margin-top: 30%;
    }
    @media (max-width: $screen-small) {
      margin-top: 0;
      text-align: center;
      font-size: 4rem;
    }

    @media (max-width: $screen-small-375) {
      font-size: 3.8rem;
    }
    @media (max-width: $screen-small-360) {
      font-size: 3.7rem;
    }
  }

  &_highlight {
    background: linear-gradient(to top, #1e9146, #79a81c, #7ea15b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for Firefox */
    color: transparent;
    text-shadow: 0 12px 40px 5px rgba(0, 0, 0, 0.25);
  }

  &_description {
    font-size: 1.5rem;
    color: var(--Secondary-colour);
    line-height: 1.5;
    font-weight: 500;
    font-family: "Karla", sans-serif;
    margin-top: 1rem;
    max-width: 600px;

    @media (max-width: $screen-small) {
      margin-top: 0;
      text-align: center;
      font-size: 1.4rem;
    }
    @media (max-width: $screen-small-360) {
      font-size: 1.2rem;
    }

    // padding: 1.5rem;
    // border-radius: 1rem;
    // background: rgba(20, 20, 20, 0.05);
    // background: linear-gradient(
    //   135deg,
    //   rgba(20, 20, 20, 0.05) 0%,
    //   rgba(255, 255, 255, 0.05) 100%
    // );
    // backdrop-filter: blur(2px);

    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3),
    //   inset 0 0 5px 3px rgba(255, 255, 255, 0.1);

    // &::before {
    //   position: absolute;
    //   content: "";
    //   top: 50%;
    //   left: 50%;
    //   width: calc(100% - 1rem);
    //   height: calc(100% - 1rem);
    //   transform: translate(-50%, -50%);

    //   background-color: black;
    //   border-radius: inherit;
    //   opacity: 0.6;
    //   padding: 1rem;
    //   z-index: -1;
    // }

    &_highlight {
      color: var(--Tertiary-colour);
    }
  }
}
