@use "../../../styles/variables.scss" as *;

.hero {
  &_container {
    grid-column: 1 / -1;
    grid-row: 1 / 6;
    background-image: url("../../../assets/images/Experiences_hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(12, minmax(3rem, 1fr));
    grid-template-rows: repeat(8, minmax(5rem, 1fr));
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 2), transparent);
      pointer-events: none;
      z-index: 0;
    }
  }
}

.text {
  grid-row: 5 / 9;
  grid-column: 2 / 6;

  &_title {
    font-size: 4rem;
    color: var(--Secondary-colour);
    line-height: 1;
    font-weight: 700;
    font-family: chivo, sans-serif;
  }
  &_highlight {
    background: linear-gradient(to top, #1e9146, #79a81c, #7ea15b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for Firefox */
    color: transparent;
    text-shadow: 0 12px 40px 5px rgba(0, 0, 0, 0.25);
  }

  &_paragraph {
    font-size: 1.3rem;
    color: var(--Secondary-colour);
    line-height: 1.5;
    font-weight: 500;
    font-family: "Karla", sans-serif;

    &_highlight {
      color: var(--Tertiary-colour);
    }
  }
}

.hr {
  border: none;
  height: 5px;
  background: linear-gradient(to right, transparent, white, transparent);
  width: 95%;
  margin: 1rem auto;
  text-align: start;
}

.experience_button {
  background: linear-gradient(to right, #1e9146, #79a81c, #7ea15b);
  padding: 0.417rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--Secondary-colour);
  box-shadow: 0 12px 40px 5px rgba(0, 0, 0, 0.25);
  margin-top: 0.8rem;
  font-weight: 500;
  display: inline-block;
  transition: $transition-duration;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
      var(--Primary-colour),
      var(--Primary-colour)
    );
    transform: scale(1.1);
  }
}
