@use "../../variables.scss" as *;

.bePartOfUs_section {
  grid-row: 16 / 20;
  grid-column: 2 / -2;

  //   background-color: beige;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(8rem, 13rem));
  grid-template-rows: repeat(4, minmax(8rem, auto));
  margin-top: 2rem;
  @media (max-width: $screen-medium-large) {
    gap: 1rem;
  }

  @media (max-width: $screen-medium) {
    grid-template-columns: repeat(7, minmax(3rem, 10rem));
  }
}

.video {
  &_container {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    height: 100%;
    position: relative;

    @media (max-width: $screen-medium-large) {
      justify-self: center;
    }
    @media (max-width: $screen-medium) {
      grid-column: 1 / 5;
      margin-top: 1.5rem;
    }

    @media (max-width: $screen-small-690) {
      grid-column: 1 / 8;
    }
    @media (max-width: $screen-small) {
      grid-column: 1 / 8;
    }
  }

  border-radius: 2rem;
  border: 3px solid #ffffff1a;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.4);

  &_button_volume {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;
    color: var(--Secondary-colour);
    background-color: var(--Primary-colour);
    border-radius: 50%;
    padding: 0.5rem;

    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(115%);
      color: var(--Primary-colour);
      background-color: var(--Secondary-colour);
    }

    @media (max-width: $screen-medium-large) {
      bottom: 4rem;
    }
  }
}

.text {
  &_container {
    grid-column: 3 / 9;
    grid-row: 1 / 3;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    //Glassmorphism effect
    background: rgba(20, 20, 20, 0.05);
    background: linear-gradient(
      135deg,
      rgba(20, 20, 20, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(2px);

    box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.4),
      inset 0 0 5px 3px rgba(255, 255, 255, 0.1);
    position: relative;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   width: 97.3%;
    //   height: 90%;

    //   background-color: black;
    //   border-radius: inherit;
    //   opacity: 0.6;
    //   padding: 1rem;
    //   z-index: -1;
    // }
    @media (max-width: $screen-medium-large) {
      padding: 1rem;
    }

    @media (max-width: $screen-medium) {
      display: none;
      grid-column: 0;
    }
  }

  &_wrapper {
    padding: 1rem;
  }

  &_title {
    font-size: 2.4rem;
    color: var(--Secondary-colour);

    font-family: chivo, sans-serif;
    text-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);

    font-weight: 700;

    @media (min-width: $screen-xl) {
      font-size: 2.7rem;
    }

    @media (max-width: $screen-medium-large) {
      font-size: 2.1rem;
    }
  }

  // &_paragraph {
  //   margin-top: 1rem;
  //   font-size: 1.5rem;
  //   color: var(--Secondary-colour);
  // }
}

.images {
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_wrapper {
    width: 16rem;
    height: 11rem;
    transition: $transition-duration;

    &:hover {
      cursor: pointer;
      transform: scale(125%);
    }

    @media (min-width: $screen-xl) {
      width: 19rem;
      height: 13rem;
    }

    @media (max-width: $screen-medium-large) {
      width: 13rem;
      height: 9rem;
    }
  }

  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.6);
}

.carousel {
  &_container {
    grid-column: 3 / 9;
    grid-row: 3 / -1;

    display: flex;
    justify-content: space-between;

    @media (max-width: $screen-medium) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      grid-row: 1 / -1;
      grid-column: 5 / 8;
    }

    @media (max-width: $screen-small-690) {
      display: none;
    }
    @media (max-width: $screen-small) {
      display: none;
    }
  }

  &_card {
    &_container {
      background: rgba(20, 20, 20, 0.05);
      background: linear-gradient(
        135deg,
        rgba(20, 20, 20, 0.05) 0%,
        rgba(255, 255, 255, 0.05) 100%
      );
      backdrop-filter: blur(2px);

      box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.4),
        inset 0 0 5px 3px rgba(255, 255, 255, 0.1);

      padding: 1rem;

      border-radius: 2rem;
      width: 23rem;

      &::before {
        position: absolute;
        content: "";
        width: 91%;
        height: 90%;

        background-color: black;
        border-radius: inherit;
        opacity: 0.6;
        padding: 1rem;
        z-index: -1;
      }

      transition: $transition-duration;

      &:hover {
        cursor: pointer;
        transform: scale(110%);
      }

      @media (min-width: $screen-xl) {
        width: 25rem;
      }
      @media (max-width: $screen-medium) {
        width: 24rem;
      }

      @media (max-width: $screen-medium-large) {
        width: 18rem;
      }
    }

    &_wrapper {
      height: 100%;

      padding: 1rem;
      display: flex;
      flex-direction: column;

      justify-content: space-around;
    }

    &_icon {
      color: var(--Primary-colour);
      display: flex;
      justify-content: center;
      font-size: 4.5rem;
      margin-top: 1rem;

      @media (min-width: $screen-xl) {
        font-size: 5rem;
      }
      @media (max-width: $screen-medium-large) {
        font-size: 3rem;
        margin-top: 0.5rem;
      }
    }

    &_title {
      color: var(--Secondary-colour);
      font-weight: 600;
      margin-top: 1rem;

      @media (max-width: $screen-medium-large) {
        font-size: 1.3rem;
      }
    }

    &_text {
      color: var(--Secondary-colour);
      font-size: 1.1rem;

      @media (min-width: $screen-xl) {
        font-size: 1.2rem;
      }

      @media (max-width: $screen-medium-large) {
        font-size: 1.1rem;
      }

      @media (max-width: $screen-medium) {
        font-size: 1.2rem;
      }
    }
  }
}
