@use "../../variables.scss" as *;

.video_section {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  //   background-color: #f9f9f9;
  gap: 2rem;

  grid-row: 8 / 12;
  grid-column: 2 / -2;

  @media (max-width: $screen-medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.video {
  width: 50rem;
  border-radius: 2rem;
  border: 3px solid #ffffff1a;
}

.textBox {
  &_container {
    width: 50rem;
    height: 26.5rem;
    padding: 1.5rem;
    border-radius: 2rem;

    //Glassmorphism effect
    background: rgba(20, 20, 20, 0.05);
    background: linear-gradient(
      135deg,
      rgba(20, 20, 20, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(2px);

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 5px 3px rgba(255, 255, 255, 0.1);

    @media (max-width: $screen-medium-large) {
      height: 29rem;
    }

    @media (max-width: $screen-medium) {
      width: 90%;
      height: auto;
    }

    @media (max-width: $screen-small) {
      width: 100%;
      height: auto;
    }
  }

  &_titles {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.8rem;
    & h2 {
      color: var(--Secondary-colour);
    }

    & h3 {
      color: var(--Tertiary-colour);
    }
    @media (max-width: $screen-small-375) {
      font-size: 2.2rem;
      line-height: 2.5rem;
    }
  }

  &_paragraph {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--Secondary-colour);
  }
}
