@use "./variables.scss" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primary-colour: #7ea15b;
  --Secondary-colour: #f4eed9;
  --Tertiary-colour: #f0c02d;
}

html {
  font-size: 85%; /* 16px × 0.85 = 13.6px */ // So Clerk's UI isn't affected much

  min-height: 100vh;

  @media (max-width: $screen-medium) {
    font-size: 80%; /* 16px × 0.75 = 12px */
  }

  @media (max-width: $screen-small) {
    font-size: 70%; /* 16px × 0.75 = 12px */
  }
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;

  min-height: 100vh;
}

.grid-container {
  display: grid;

  gap: 2rem;
  margin: 0 auto;
  min-height: 100vh;

  grid-template-columns:
    [full-start]minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(8rem, 12rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media (max-width: $screen-medium) {
    grid-template-columns:
      [full-start] minmax(4rem, 5rem)
      [center-start] repeat(6, [col-start] minmax(3rem, 10rem) [col-end])
      [center-end] minmax(4rem, 5rem) [full-end];
  }

  @media (max-width: $screen-small) {
    gap: 1rem;
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [center-start] minmax(5rem, 38rem)
      [center-end] minmax(2rem, 1fr) [full-end];
  }

  grid-template-rows:
    [full-start] minmax(4rem, 9rem)
    [center-start] repeat(18, [row-start] minmax(8rem, auto) [row-end])
    [center-end] minmax(4rem, 9rem) [full-end];
}
